<!DOCTYPE html>
<html lang="lt">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{PAGE_TITLE}</title>
        {PAGE_CSS}
        {PAGE_JAVASCRIPT}
    </head>
    <body>
        <div id="border">
            <div id="container">
                <form action="/" method="post">
                    <fieldset>
                        <legend> </legend>
                        {CONTENT}
                        <label for="password">Slaptažodis:</label>
                        <input type="password" name="password" id="password" required title="Įrašykite slaptažodį" value="" />
                        <input type="submit" name="login" value="Įeiti" />
                    </fieldset>
                </form>
                <br />
                <img id="intro" src="/images/intro.jpg" title="Balionai, balionai, balionai..." />

            </div>
        </div>
    </body>
</html>